<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
      <div th:fragment="headerpatient">
      
		<div class="box box-info">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title" style="font-weight: bold;">Alimatou Diop</h3> &nbsp; <span style="font-style: italic;"><small>Femme, 23ans</small></span>

              <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#"><i class="fa fa-pencil-square-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-print"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="box box-solid">
            <div class="box-body">
                <div class="col-sm-6">
                	<dl class="dl-horizontal">
	                <dt>Matricule</dt>
	                <dd>013FD009</dd>
	                
	                <dt>Naissance</dt>
	                <dd>13 Avril 1972</dd>
	                
	                <dt>No Dossier</dt>
	                <dd>000023780919-07</dd>
	                
	                <dt>M&eacute;decin</dt>
	                <dd>Dr. Moctar Sy Sembene </dd>
              </dl>
                </div>  
                <div class="col-sm-6">
                	<dl class="dl-horizontal">
	                <dt>T&eacute;l&eacute;phone</dt>
	                <dd>(+221) 77 455-67-09</dd>
	                
	                <dt>Lieu de r&eacute;sidence</dt>
	                <dd>13, Rue Sokhna Oumy Lahi</dd>
	                <dd>YF-260, 12500 DK</dd>
	                <dd>Dakar, Senegal</dd>
              	</dl>
                </div>        
            </div>
          </div>
                      
      </div>
</body>
</html>