<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
      <div th:fragment="task">
			   	<div class="clearfix" style="padding-bottom: 10px;">
	              <button type="button" onclick="newTask();" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Ajouter</button>
	            </div>
			   <ul class="todo-list">
                <li th:each="tsk : ${user.taches}">
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                  <input type="checkbox" value=""/>
                  <!-- todo text -->
                  <span class="text" th:text="${tsk.sujet}">Svp, Conserver le dossier patient au ..</span>
                  <small class="label label-danger"><i class="fa fa-clock-o"></i> <span th:text="${tsk.dateEcheance}"></span> </small>
                  <div class="tools">
                    <i class="fa fa-edit" th:attr="onclick='javascript:editTask(\'' + ${'taskId='+tsk.id} + '\');'"></i> 
                    <i class="fa fa-trash-o" onclick="deleteTask();"></i>
                  </div>
                </li>
                <li th:if="${#lists.isEmpty(user.taches)}" >
                	<span class="text" >Il n'existe aucune t&acirc;che.</span>
                </li>
                <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                  <input type="checkbox" value=""/>
                  <span class="text">Changer informations de securite</span>
                  <small class="label label-default"><i class="fa fa-clock-o"></i> 1 mois</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
              </ul>
      </div>
</body>
</html>